main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
    // 'one two three four'
    // 'five six seven eight'
    // 'nine ten eleven twelve'
    // 'thirt fourt fift sixt'
    // 'sevent eighte ninet twent';
    '. one .'
    '. two .'
    '. three .'
    '. four .'
    '. five .';
}

div#row-1 {
    grid-area: one;
}

div#row-2 {
    grid-area: two;
}

div#row-3 {
    grid-area: three;
}

div#row-4 {
    grid-area: four;
}

div#row-5 {
    grid-area: five;
}


// section#eye1 {
//     grid-area: one;
// }

// section#eye2 {
//     grid-area: two;
// }

// section#eye3 {
//     grid-area: three;
// }

// section#eye4 {
//     grid-area: four;
// }

// section#eye5 {
//     grid-area: five;
// }

// section#eye6 {
//     grid-area: six;
// }

// section#eye7 {
//     grid-area: seven;
// }

// section#eye8 {
//     grid-area: eight;
// }

// section#eye9 {
//     grid-area: nine;
// }

// section#eye10 {
//     grid-area: ten;
// }

// section#eye11 {
//     grid-area: eleven;
// }

// section#eye12 {
//     grid-area: twelve;
// }

// section#eye13 {
//     grid-area: thirt;
// }

// section#eye14 {
//     grid-area: fourt;
// }

// section#eye15 {
//     grid-area: fift;
// }

// section#eye16 {
//     grid-area: sixt;
// }

// section#eye17 {
//     grid-area: sevent;
// }

// section#eye18 {
//     grid-area: eighte;
// }

// section#eye19 {
//     grid-area: ninet;
// }

// section#eye20 {
//     grid-area: twent;
// }


